In [1]:
import pandas as pd

# Import du fichier Excel

In [6]:
CheminFichier = r'C:\Users\giant\Downloads\python-visualisation-3000779-main\python-visualisation-3000779-main\01_Visualisation_Données\Data\Dataset_Employes.xlsx'
Dataset_Employes = pd.read_excel(CheminFichier)

In [7]:
Dataset_Employes

,id_salarié,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Ancienneté_an,Distance domicile/Travail,Service,Niveau de satisfaction,Type Contrat,Age
0,1,CDI,35,9894.7000,13,0.0,0.0,22.5,69,Technique,60,Cadre,46
1,2,CDI,35,4296.7167,39,0.0,1.0,10.8,32,Technique,39,Non Cadre,55
2,3,CDI,35,3705.2167,29,1.0,1.0,13.0,68,RH,62,Cadre,52
3,4,CDI,35,1697.1500,17,1.0,0.0,21.7,59,Technique,98,Non Cadre,58
4,5,CDD,35,2848.3000,15,1.0,0.0,3.3,15,R&D,81,Non Cadre,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,252,CDI,35,7304.2667,17,1.0,0.0,7.9,59,Technique,34,Cadre,41
250,253,CDI,35,8328.0167,14,1.0,0.0,10.2,59,Compta Finances,60,Cadre,51
251,254,CDI,32,8860.8000,19,1.0,1.0,11.9,65,RH,59,Cadre,48
252,255,CDI,24,4974.3200,32,0.0,1.0,11.8,31,Commercial,66,Cadre,65
253,256,CDD,35,6583.8500,13,1.0,1.0,12.6,59,Marketing,67,Cadre,56

## Import du fichier CSV

In [12]:
CheminFichier = 'C:/Users/giant/Downloads/python-visualisation-3000779-main/python-visualisation-3000779-main/01_Visualisation_Données/Data/Dataset_Employes.csv'
Dataset_Employes = pd.read_csv(CheminFichier, sep=';', encoding='ISO-8859-1')

In [16]:
Dataset_Employes

,id_salarié,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Ancienneté_an,Distance domicile/Travail,Service,Niveau de satisfaction,Type Contrat,Age
0,1,CDI,35,"9894,7",13,0.0,0.0,"22,5",69,Technique,60,Cadre,46
1,2,CDI,35,"4296,7167",39,0.0,1.0,"10,8",32,Technique,39,Non Cadre,55
2,3,CDI,35,"3705,2167",29,1.0,1.0,13,68,RH,62,Cadre,52
3,4,CDI,35,"1697,15",17,1.0,0.0,"21,7",59,Technique,98,Non Cadre,58
4,5,CDD,35,"2848,3",15,1.0,0.0,"3,3",15,R&D,81,Non Cadre,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,252,CDI,35,"7304,2667",17,1.0,0.0,"7,9",59,Technique,34,Cadre,41
250,253,CDI,35,"8328,0167",14,1.0,0.0,"10,2",59,Compta Finances,60,Cadre,51
251,254,CDI,32,"8860,8",19,1.0,1.0,"11,9",65,RH,59,Cadre,48
252,255,CDI,24,"4974,32",32,0.0,1.0,"11,8",31,Commercial,66,Cadre,65
253,256,CDD,35,"6583,85",13,1.0,1.0,"12,6",59,Marketing,67,Cadre,56

## Types de colonnes

In [17]:
# Pour retourner la forme du Dataset
# Afficher le nombre de lignes et de colonnes

Dataset_Employes.shape

(254, 13)

In [18]:
# Pour retourner le nombre de valeurs non manquantes ainsi que les informations de types de données
Dataset_Employes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_salarié                 254 non-null    int64
 1   Contrat                    254 non-null    object
 2   Durée hebdo                254 non-null    int64
 3   Salaire base mensuel       254 non-null    object
 4   %variable_moyen            254 non-null    int64
 5   Augmentation               241 non-null    float64
 6   Promotion                  241 non-null    float64
 7   Ancienneté_an              254 non-null    object
 8   Distance domicile/Travail  254 non-null    int64
 9   Service                    254 non-null    object
 10  Niveau de satisfaction     254 non-null    int64
 11  Type Contrat               254 non-null    object
 12  Age                        254 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 25.9+ KB

## Filtrer les données

### Filtrer des contrats en CDI

In [19]:
Dataset_Employes['Contrat'].value_counts()

Contrat
CDI    232
CDD     22
Name: count, dtype: int64

In [21]:
Data_Filtree_CDI = Dataset_Employes['Contrat']=='CDI'
Data_Filtree_CDI

0       True
1       True
2       True
3       True
4      False
       ...
249     True
250     True
251     True
252     True
253    False
Name: Contrat, Length: 254, dtype: bool

In [22]:
Data_Filtree_CDI = Dataset_Employes[Data_Filtree_CDI]
Data_Filtree_CDI

,id_salarié,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Ancienneté_an,Distance domicile/Travail,Service,Niveau de satisfaction,Type Contrat,Age
0,1,CDI,35,"9894,7",13,0.0,0.0,"22,5",69,Technique,60,Cadre,46
1,2,CDI,35,"4296,7167",39,0.0,1.0,"10,8",32,Technique,39,Non Cadre,55
2,3,CDI,35,"3705,2167",29,1.0,1.0,13,68,RH,62,Cadre,52
3,4,CDI,35,"1697,15",17,1.0,0.0,"21,7",59,Technique,98,Non Cadre,58
5,6,CDI,35,"5464,55",34,0.0,0.0,"10,5",6,Commercial,47,Non Cadre,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,251,CDI,35,"7637,9333",21,1.0,0.0,"8,6",34,RH,84,Cadre,55
249,252,CDI,35,"7304,2667",17,1.0,0.0,"7,9",59,Technique,34,Cadre,41
250,253,CDI,35,"8328,0167",14,1.0,0.0,"10,2",59,Compta Finances,60,Cadre,51
251,254,CDI,32,"8860,8",19,1.0,1.0,"11,9",65,RH,59,Cadre,48
252,255,CDI,24,"4974,32",32,0.0,1.0,"11,8",31,Commercial,66,Cadre,65

## Filtre sur les durées de travail > 25 heures

In [23]:
Dataset_Employes['Durée hebdo'].value_counts()

Durée hebdo
35    223
24     22
28      5
32      4
Name: count, dtype: int64

In [24]:
Data_Filtree_duree = Dataset_Employes['Durée hebdo'] >= 25
Data_Filtree_duree

0       True
1       True
2       True
3       True
4       True
       ...
249     True
250     True
251     True
252    False
253     True
Name: Durée hebdo, Length: 254, dtype: bool

In [25]:
Dataset_Employes_Plus25H = Dataset_Employes[Data_Filtree_duree]
Dataset_Employes_Plus25H

,id_salarié,Contrat,Durée hebdo,Salaire base mensuel,%variable_moyen,Augmentation,Promotion,Ancienneté_an,Distance domicile/Travail,Service,Niveau de satisfaction,Type Contrat,Age
0,1,CDI,35,"9894,7",13,0.0,0.0,"22,5",69,Technique,60,Cadre,46
1,2,CDI,35,"4296,7167",39,0.0,1.0,"10,8",32,Technique,39,Non Cadre,55
2,3,CDI,35,"3705,2167",29,1.0,1.0,13,68,RH,62,Cadre,52
3,4,CDI,35,"1697,15",17,1.0,0.0,"21,7",59,Technique,98,Non Cadre,58
4,5,CDD,35,"2848,3",15,1.0,0.0,"3,3",15,R&D,81,Non Cadre,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,251,CDI,35,"7637,9333",21,1.0,0.0,"8,6",34,RH,84,Cadre,55
249,252,CDI,35,"7304,2667",17,1.0,0.0,"7,9",59,Technique,34,Cadre,41
250,253,CDI,35,"8328,0167",14,1.0,0.0,"10,2",59,Compta Finances,60,Cadre,51
251,254,CDI,32,"8860,8",19,1.0,1.0,"11,9",65,RH,59,Cadre,48
253,256,CDD,35,"6583,85",13,1.0,1.0,"12,6",59,Marketing,67,Cadre,56